h1 {
    font-family: $headline-regular;
    font-size: 6rem;
    font-weight: none;
    margin: 0;

}

h3 {
    font-family: $headline-regular;
    font-size: 3rem;

                @media only screen and (max-width: $tablet) {
                        font-size: 2rem;
                    }
}

h4 {
    font-family: $headline-regular;
    font-size: 2rem;
}

.body-1 {
    font-family: $body-regular;
    font-size: 1.5rem;
    max-width: 50ch;
    // margin: 0;
    margin: 4rem 0;

        @media only screen and (max-width: $tablet) {
                width: 100%;
                font-size: 1.125rem;
                margin: 2rem 0;
            }
}

// utility classes 

.center-text {
    text-align: center;
}

.center{
    margin: 0 auto;
}

// 


@font-face{
    font-family: "hero-kid-italic";
    src: local(hero-kid-italic),
    url(~/assets/fonts/Fontspring-DEMO-herokiditalicexlightexp.otf) format("truetype");
}

@font-face {
    font-family: "hero-kid-regular";
    src: local(hero-kid-regular),
        url(~/assets/fonts/Fontspring-DEMO-herokid-regularexpanded.otf) format("truetype");
}

@font-face {
    font-family: "neu-roman";
    src: local(neu-roman),
        url(assets/fonts/NeueHaasDisplayRoman.ttf) format("truetype");
}