$primary-green: #A2F811;
$primary-blue:rgba(81, 69, 255, 1);
$bagge-color: #FFEDDC;
$body-regular: "neu-roman";
$headline-regular: "hero-kid-regular";
$headline-italic: "hero-kid-regular";

$small-phone: 340px;
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1200px;